node_modules/
dist/
.git/
.gitignore
.prettierrc
LICENSE
README.md
nodemon.json
eslint.config.js
docker-compose.yml
youtube-backend-env.postman_environment.json
youtube-backend.postman_collection.json
